services:
  frontend_app:
    build:
      dockerfile: frontend.dockerfile
      context: frontend/
    ports:
      - 80:80
    depends_on: 
      - backend_app
  
  backend_app:
    build:
      dockerfile: backend.dockerfile
      context: backend/
    ports:
      - 8080:8080
    depends_on: 
      - backend_db
    volumes:
      - ./backend/configs:/app/configs 
  backend_db:
    build:
      dockerfile: db.dockerfile
      context: database/
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - ./database/pgdata:/var/lib/postgresql/18/data 

